*
{
	font-family: 'Roboto Slab', serif;
	background-color: white;
	
}
div{}
body
{
	margin: 20px 25vw;
}
h1
{

}
h2
{
	font-size: 18px;
}
h3
{
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;	
}
h4
{
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;	
}
.title
{
	font-size: 48px;
	margin: 0;
	text-align: center;
}
.by
{
	font-size: 24px;	
	margin: 0;
	text-align: center;

}
/**
#contrastsize
{
	font-size: 10px;
}
#contraststructure
{
	font-family: 'Lato', sans-serif;
}
#contrastcolor
{
	color: blue;
}
#contrastdirection			
{
	transform: rotate(2deg);
}
**/
@media only screen and (max-width: 1000px) 
{
	body
	{
		margin: 20px 12vw;

	}
	.title
	{	
		font-size: 40px;
		margin: 0;
		text-align: center;
	}
	.by
	{
		font-size: 20px;	
		margin: 0;
		text-align: center;
	}
}
@media only screen and (max-width: 700px) 
{
	body
	{
		margin: 20px 4vw;

	}
	.title
	{	
		font-size: 30px;
		margin: 0;
		text-align: center;
	}
	.by
	{
		font-size: 20px;	
		margin: 0;
		text-align: center;
	}
}