*
{
	text-align: center;
	margin: 0;

}
.header
{
	font-size: 40px;
	margin-top: 100px;
	color: white;
	font-family: 'Anton', sans-serif;
}
.num
{
	font-size: 60px;
	color: blue;
	font-family: 'Anton', sans-serif;
}
.b
{
	font-size: 40px;
	color: white;
	font-family: 'Anton', sans-serif;
}
#submit
{
	margin-top: 20px;
}
input
{
	height: 40px;
	width: 400px;
}
body
{
	background-color: black;
}