body
{

}

p
{
	font-family: 'Playfair Display', serif;
}

.title
{
	font-weight: 900;
	font-size: 70px;
	margin: 0;
}

.by
{
	font-weight: 900;
	font-size: 50px;
	margin: 0;
}

.chapter
{
	font-weight: 700;
	font-size: 25px;
}

.text
{
	width: 500px;
}

.tbox
{

}

.pbox
{
	
}