body
{
	margin: 10px 30vw;
}

p
{

}

.title
{
	text-align: center;
	font-size: 40px;
	margin: 0;
	text-transform: uppercase;
}

.by
{
	text-align: center;
	font-size: 28px;
	margin: 0;
	text-transform: uppercase;
	color: rgb(100,100,100);
}

.chapter
{
	font-size: 22px;
}

.text
{
	font-size: 16px;
	color: rgb(100,100,100);
}