ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li 
{
    float: left;
    background-color: darkgrey;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
li:first-child 
{
    border-left: 1px solid black;
    margin-left: 10px;
}

li a, .dropbtn
{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn 
{
    background-color: lightblue;
}

li.dropdown 
{
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: darkgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
	background-color: lightblue;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}


*
{
	box-sizing: border-box;
	margin: 0;
}
.container
{
	height: 81vh;
	width: 100vw;
}
.linkbox
{
	margin: 1vh 1vw;
	float: left;
	width: 23vw;
	height: 25vh;
	border: 2px solid darkgrey;
	text-align: center; 
}
.linkbox p
{
    color: white;
    text-decoration: none;
}
.linkbox:hover
{
    border: 2px solid lightblue;
}
.linkbox:hover p
{
    color: lightblue;
}
p
{
	margin-top: 8vh;
	font-size: 40px;
}
body
{
    background-color: black;
}
