.nav
{
	float: left;
	height: 40px;
	width: 100vw;
}
.lspace
{
	float: left;
	width: 20px;
	height: 40px
}
.button
{
	float: left;
	width: 100px;
	height: 40px;
	border: 2px solid black;

}
*
{
	text-align: center;
	box-sizing: border-box;
	margin: 0;
}
.title
{
	font-size: 50px;
}
.subtitle
{
	font-size: 30px;
}