.nay
{
	width: 5vw;
	height: 5vw;
	background-color: white;
}	
.yay
{
	width: 5vw;
	height: 5vw;
	background-color: black;
}	
.nay:hover
{
	background-color: blue;
}
.yay:hover
{
	background-color: rgb(20, 20, 20);
}
*
{
	box-sizing: border-box;
} 
div
{
	float: left;
	border: 2px solid black;
}
p
{
	font-size: 10vw;
	text-align: center;
	color: white;
}
.winC
{
	font-family: 'Bungee Inline', cursive;
	font-size: 3vw;
	color: black;
	margin: 0;
	text-align: center;
}
body
{
	background-color: black;
	margin: 0;
	width: 100vw;
}
.container
{
	margin: 0 10vw;
	width: 80vw;
}
.text
{
	width: 33.3vw;
}
.loseC
{
	font-family: 'Bungee Inline', cursive;
	font-size: 3vw;
	margin: 0;
	color: black;
	text-align: center;
}
.btext
{
	width: 100vw;
}
.bC
{
	font-family: 'Bungee Inline', cursive;
	font-size: 2vw;
	color: white;
	margin: 0;
	text-align: center;
}