
.container
{
	width: 75vw;
	margin: 0 auto;
}
.lCol
{
	width: calc((100%/2)-25px);
	margin-right: 25px;
}
.rCol
{
	width: calc((100%/2)-25px);
	margin-left: 25px;
}
.lCol, .rCol
{
	float: left;
}
img
{
	max-width: 100%;
}