*
{
	box-sizing: border-box;
} 
div
{
	float: left;
}
body
{
	background-color: black;
}
p
{
	margin: 100px, 100px;	
	color: white;
	text-align: left;
	font-size: 25px;
	font-family: 'IM Fell English SC', serif;
}
a
{
	color: red;
	font-size: 25px;
	text-decoration: none;
	font-family: 'IM Fell English SC', serif;
}
a:hover
{
	color: blue;
	border-bottom: 5px solid blue;
}
a:visited
{
	text-decoration: none;
	color: red;
}
a:focus
{
	text-decoration: none;
	color: red;
}
.leftc
{
	width: 25vw;
	height: 500px;
}
.contain
{
	height: 500px;
	width: 50vw;
	vertical-align: center;
}